.info-background{
    background-color: #2C3A47;
    padding: 2rem;
    color: #fff;
}
.info-team{
    display: flex;
    margin: 0 auto;
    background-color: #1d5387;
    width: 70%;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
}

.info-text {
    display: flex;
    line-height: 0;
    margin-left: 10px;
    margin: 5px;
    padding : 1px;
}

.info-text > p {
    margin-left: 3px;
}
a{
    text-decoration: none;
    color: #fff;
    margin: 2px;
    transition: transform all 2s;
}
a:hover{
    color: rgb(221, 108, 108);
    transform: scale(1.2);
}
.footer-text{
    text-align: center;

}
@media screen and (max-width: 550px){
    .info-team{
        display: block !important;
        padding: 2rem;
        text-align: center;
    }
    .info-team>img{
        width:90%;
    }
}